/*COMMON*/
html {font-size: 16px;}

body {
  margin: 0;
}
a {
  text-decoration: none;
}
:root {
  --dohyeon-font: 'Do Hyeon', sans-serif;
  --noto-font: 'Noto Sans KR', sans-serif;
}

/*INNER*/
.inner {
  width: 88vw;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:.5rem .75rem;
  
}
header .header__logo img {
  left: 20px;
  width: 250px;
  padding: .5rem .75rem;
}
header .header__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
header .header__menu li {
  padding: .5rem 1.3rem;
  font-size: 1.25rem;
}
header .header__menu li a {
  color: black;
  font-family: var(--noto-font);
  font-weight: 400;
} 
header .header__links {
  display: flex;
}
header .header__links li {
  right: 1.25rem;
  padding: .5rem .75rem;
}
header .header__links a {
  font-size: 1rem;
  color: black;
  vertical-align: center;
  font-family: 'Do Hyeon', sans-serif;
}
header .header__links div {
  color: black;
  font-size: 1.875rem;
}
header .header__hamburger {
  display: none;
}

.mainSwiper {
  width: 100%;
  height: 82vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 90%;
}

.swiper-button-next, .swiper-button-prev {
  color: #424242;
}
.swiper-pagination-bullet-active {
  --swiper-theme-color: rgba(90, 90, 90, 0.993);
}
.section2 .inner .mainMent {
  font-size: 1.8rem;
  padding: 1.6rem;
  letter-spacing: 0.07rem;
  font-family: var(--noto-font);
  font-weight: 400;
}
.section2 .inner .subMent {
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0.06rem;
  font-family: var(--noto-font);
  font-weight: 300;
  padding: 1.6rem 0 1.6rem 0;
}

.section3 .banner__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1.875rem;
  row-gap: 2.5rem;
  padding: 1.875rem 1.875rem 2rem 1.875rem;
  place-items: center;
}
.section3 .banner__grid .banner__content {
}
.section3 .banner__grid .banner__content img{
  width: 32rem;
  height: 18.75rem;
  border-radius: .625rem;
  object-fit: cover;
}
.section3 .banner__grid .banner__content img:hover{
  filter: brightness(105%);
}

.section4 .sub__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  column-gap: 1rem;
  row-gap: 2.5rem;
  margin: 3rem 1.875rem 6rem 1.875rem;
  place-items: center;
}
.section4 .sub__grid .sub__content {
  width: 250px;
  height: 200px;
  background-color: grey;
  border-radius: 20px;
}
.section4 .sub__grid .sub__content:hover {
  filter: brightness(105%);
}

.section5-wrapper {
  width: 100%;
  height: auto;
  background-color: #F6F5F0;
}
@media screen and (max-width: 1400px) {
  header {
    display: flex;
  }
  header .header__logo img {
    left: 1.75rem;
    width: 12.8rem;
    padding: 0.5rem 0.75rem;
}
  header .header__menu li {
    display: none;
  }
	header .header__links li {
    display: none;
  }
  header .header__hamburger {
    display: block;
    font-size: 45px;
    color: black;
    padding: 10px;
  }
  .material-icons {
    font-size: 1.7rem;
    font-weight: 500;
  }
  .mainSwiper {
    width: 100%;
    height: 40%;
  }
  .section2 .inner .mainMent {
    display: none;
  }
  .section2 .inner .subMent {
    display: none;
  }
  .swiper-button-next, .swiper-button-prev {
    display: none;
  }
}